# Bonus: Temperature Analysis I

In [62]:
import pandas as pd
from datetime import datetime as dt
from scipy import stats

In [2]:
# "tobs" is "temperature observations"
csvPath = '../Resources/hawaii_measurements.csv'
df = pd.read_csv(csvPath)
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [21]:
# Convert the date column format from string to datetime
df['cnvtedDate'] = pd.to_datetime(df['date'],infer_datetime_format=True)

In [22]:
# Set the date column as the DataFrame index
df.index = df['cnvtedDate']
df

                station        date  prcp  tobs cnvtedDate
cnvtedDate
2010-01-01  USC00519397  2010-01-01  0.08    65 2010-01-01
2010-01-02  USC00519397  2010-01-02  0.00    63 2010-01-02
2010-01-03  USC00519397  2010-01-03  0.00    74 2010-01-03
2010-01-04  USC00519397  2010-01-04  0.00    76 2010-01-04
2010-01-06  USC00519397  2010-01-06   NaN    73 2010-01-06
...                 ...         ...   ...   ...        ...
2017-08-19  USC00516128  2017-08-19  0.09    71 2017-08-19
2017-08-20  USC00516128  2017-08-20   NaN    78 2017-08-20
2017-08-21  USC00516128  2017-08-21  0.56    76 2017-08-21
2017-08-22  USC00516128  2017-08-22  0.50    76 2017-08-22
2017-08-23  USC00516128  2017-08-23  0.45    76 2017-08-23

[19550 rows x 5 columns]

In [23]:
# Drop the date column
df.drop(columns='cnvtedDate')

                station        date  prcp  tobs
cnvtedDate
2010-01-01  USC00519397  2010-01-01  0.08    65
2010-01-02  USC00519397  2010-01-02  0.00    63
2010-01-03  USC00519397  2010-01-03  0.00    74
2010-01-04  USC00519397  2010-01-04  0.00    76
2010-01-06  USC00519397  2010-01-06   NaN    73
...                 ...         ...   ...   ...
2017-08-19  USC00516128  2017-08-19  0.09    71
2017-08-20  USC00516128  2017-08-20   NaN    78
2017-08-21  USC00516128  2017-08-21  0.56    76
2017-08-22  USC00516128  2017-08-22  0.50    76
2017-08-23  USC00516128  2017-08-23  0.45    76

[19550 rows x 4 columns]

### Compare June and December data across all years

In [20]:
from scipy import stats

In [56]:
# Filter data for desired months
#added datemonth for ease of use
df['Month']=pd.DatetimeIndex(df['cnvtedDate']).month
# df #sanity check

In [72]:
# Identify the average temperature for June
juneTempAvg = df['tobs'].loc[(pd.DatetimeIndex(df['cnvtedDate']).month==6)].mean()
juneTempAvg

74.94411764705882

In [71]:
# Identify the average temperature for December
# Identify the average temperature for June
decTempAvg = df['tobs'].loc[(pd.DatetimeIndex(df['cnvtedDate']).month==12)].mean()
decTempAvg

71.04152933421226

In [107]:
# Create collections of temperature data
juneTempAvgDF = df['tobs'].loc[(pd.DatetimeIndex(df['cnvtedDate']).month==6)]

decTempAvgDF = df['tobs'].loc[(pd.DatetimeIndex(df['cnvtedDate']).month==12)]

#decTempAvgDF
#juneTempAvgDF

In [108]:
# Run paired t-test
# Run unpaired ttest due to the difference in the counts of datasets
stats.ttest_ind(juneTempAvgDF, decTempAvgDF, equal_var=False)

Ttest_indResult(statistic=31.355036920962423, pvalue=4.193529835915755e-187)

### Analysis

#### Used an unpaired ttest and found that these two means are significantly different.  There is a high confidence that the null hypo can be rejected, the p value is very low.